<div id="plots">
  <% @plots.each do |plot| %>
    <div id="plot-<%= plot.id %>">
      <p>Plot Number: <%= plot.number %></p>
      <p>Plants:</p>
        <% plot.plants.each do |plant| %>
          <div id="plant-<%= plant.id %>">
            <%= plant.name %>
            <!-- I cannot figure out how to pass the info I need to the controller -->
            <%= button_to "Remove Plant", plant_plot_path(plant_plot.id), method: :delete %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>